@import "libs/skel";

@include skel-breakpoints((
        xlarge: '(max-width: 1680px)',
        large: '(max-width: 1140px)',
        medium: '(max-width: 980px)',
        small: '(max-width: 736px)',
        xsmall: '(max-width: 480px)',
        xxsmall: '(max-width: 320px)'
));

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 60px;
  z-index: 10;
  color: white;
  width: 100%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

  span {
    font-size: 22px;
    margin: 0 24px;
  }

  .nav_link {
    @include breakpoint(small) {
      display: none;
    }
  }

  #spacer {
    flex: 1 1 auto;
    @include breakpoint(small) {
      display: none;
    }
  }
}

#menu_trigger {
  display: none;

  @include breakpoint(small) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 42px;
    right: 60px;
    height: 40px;
    width: 40px;
    z-index: 10;
    color: black;
    border-radius: 50%;
    background-color: #f0f0f0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    &:hover {
      background-color: #9e9e9e;
    }
  }
}