{% extends 'base.html.twig' %}

{% block body %}

    <section id="header">
        <div class="inner">
            <h1><strong>About</strong></h1>
        </div>
    </section>

    <section id="one" class="main style1">

        <div class="container">

            <p>
                Treviz is a web platform developed by Bastien Huber. Its goal is to provide organizations with a
                framework that helps them become more open, distribute their governance, and allows their members
                to work on the projects that matter to them.
            </p>
            <p>
                We provide a service to host Treviz, without having to install an maintain it.
            </p>
            <p>
                Treviz is open source, developed under the Apache license 2.0 since 2017. You can browse its code
                on [Gitlab](https://gitlab.com/treviz)
            </p>

        </div>

    </section>

{% endblock %}