{% extends 'base.html.twig' %}

{% block body %}

    <section id="header">
        <div class="inner">
            <h1><strong>Legal Notices</strong></h1>
        </div>
    </section>

    <section id="one" class="main style1">

        <div class="container">

            <h3>Coming soon</h3>

        </div>

    </section>

{% endblock %}