{% extends 'base.html.twig' %}

{% block body %}

    <section id="header">
        <div class="inner">
            <h1><strong>Open, Collaborative Organizations</strong></h1>
        </div>
    </section>

    <section id="one" class="main style1">

        <div class="container">

            <header class="major special">
                <h2>What is it?</h2>
            </header>

            <p>
                Treviz is built around the concept of Open, Collaborative Organization; a form of organization with the
                following requirements:
            </p>

            <ul>
                <li>
                    Every member of the organization is a stakeholder; whose shares are represented by a distributed
                    asset: the organization’s token.
                </li>
                <li>
                    Every member of the organization knows how many shares the other members have.
                </li>
                <li>
                    Every decision of the organization can potentially be submitted to a vote, in which every member can
                    take part. Once the vote is over, every member can compute and check its result.
                </li>
                <li>
                    The rules of the organization, the way the votes are conducted, are known to all.
                </li>
                <li>
                    The organization’s token is used to reward the members according to their contribution.
                </li>
                <li>
                    The members of the organization can launch and take part in the projects they want.
                </li>
            </ul>

            <p>
                The goal of such an organization is to remove the need for centralized management, by aligning the
                interests of all its members: to maximize the value of the tokens they hold.
            </p>

            <p>
                Two strategies could be adopted to achieve this: members could try to hold more and more tokens while
                preserving their value, or try to increase the inner value of each tokens they hold. However, those two
                strategies converge in that only valuable work can help them in doing so. Members who would launch
                useless projects might increase the number of tokens they have, but their value would drop because it
                would be based on nothing. Likewise, if a lot of tokens was to be concentrated in the hands of a few
                people of poor decisions, their value would decrease.
            </p>


        </div>

        <div class="container">

            <header class="major special">
                <h2>What can it be applied for?</h2>
            </header>

            <p>
                Open, Collaborative organizations can be used in a various number of situations. For instance, it could
                be used inside a company, and change the way it is governed, for everyone to blossom. Instead of being
                told what to do, members could indeed decide what projects to work on, what career path they could take,
                etc.
            </p>

            <p>
                Of course, such a change is radical, and cannot be easily made in an existing structure. That is why
                another way of using Open, Collaborative organizations is by bringing together a variety of economical
                actors: companies, schools, laboratories, start-ups, administrations, incubators, and making them work
                together. Since the ownership of the organization is distributed and known to all, and its contract open,
                any suspicion of fraud would be dismissed, and everyone could work to achieve a similar goal, like
                innovating in a particular field, bringing democracy at a local level...
            </p>


        </div>

        <div class="container">

            <header class="major special">
                <h2>How does Treviz helps building such organizations?</h2>
            </header>

            <p>
                Treviz relies on the <a href="https://www.ethereum.org/">Ethereum blockchain</a>, a distributed
                registry, to create the assets of the organization. Because of its nature, every “miner” of this
                blockchain owns a copy of the registry, making it unforgeable.
            </p>

            <p>
                By installing a <a href="https://metamask.io/">small extension</a> in his or her web browser, any user
                can interact with this blockchain. Once logged on the platform, any member of an organization can take
                part in its decisions, launch a new vote, browse its projects, and exchange like they would in any
                social network.
            </p>

        </div>


    </section>


{% endblock %}