{% extends 'base.html.twig' %}

{% block body %}

    <section id="header">
        <div class="inner">
            <h1><strong>Projects from A to Z</strong></h1>
        </div>
    </section>

    <section id="one" class="main style1">

        <div class="container">

            <header class="major special">
                <h2>Grouping all the organization's projects</h2>
            </header>

            <p>
                In Treviz, once connected, you can browse the various projects the organization holds, filter them
                according to your skills and interests. This way, you are free to chose in which projects
                you would bring the most value, in which one you want to take part. You can also browse and filter
                the various jobs that are linked to those projects, and send a small message to candidate to them. <br/>
                If no existing project interests you, you can simply launch your own one, and find partners amongst
                the organization members. You can also precisely decide to whom your project should be visible: anyone,
                or just a few, specific communities.
            </p>

            <div class="12u"><span class="image fit"><img src="{{ asset('build/images/projects-mockup.jpg') }}" alt="" /></span></div>

        </div>

        <div class="container">

            <header class="major special">
                <h2>All your tools in one place</h2>
            </header>

            <p>
                Treviz comes with all the traditional tools used to manage projects. Kanban boards can easily be created
                inside projects. The tasks affected to you are then displayed in your own dashboard, so you can always
                keep track of your work. <br />
                Projects also come with a news feed, allowing anyone to stay tuned of its evolution, ask questions. It is
                completed by a chat, if you want to exchange about a decision, or just share gifs of cats. You can also
                share documents, create specific jobs for your projects, manage the roles of every member... <br />
                We are also currently working on synchronising this tools with existing ones, like Trello or Slack.
            </p>

            <div class="12u"><span class="image fit"><img src="{{ asset('build/images/project-kanban-mockup.jpg') }}" alt="" /></span></div>


        </div>


        <div class="container">

            <header class="major special">
                <h2>Own your information</h2>
            </header>

            <p>
                Treviz is Open-source, and can be self-hosted, so you always know where your information is stored, and
                who can see it. If you want to use our SaaS version, our servers are located in France, and we take
                care of making your information as safe as possible. We do not track your activity using any cookie,
                nor do we try to analyse your habits and send any information to advertisers.
            </p>


        </div>

    </section>



{% endblock %}