{% extends 'base.html.twig' %}

{% block body %}

    <section id="header">
        <div class="inner">
            <h1><strong>Create an organization</strong></h1>
            <p>Explore our code and set up your own instance of Treviz yourself, or subscribe to one of our offers
                let us do the work for you, and focus on building actual projects.</p>
        </div>
    </section>

    <section id="two" class="main style1">

        <div class="container">
            <div>
                <h4>Create a new organization</h4>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="button" style="margin-top: 12px;">Create organization</button>
                {{ form_end(form) }}
            </div>
        </div>

    </section>

{% endblock %}