<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Treviz | Open, Collaborative Organizations{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Treviz is an open-source platform that helps you build open, collaborative organizations, work on the projects you like and get rewarded for your work."/>

        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/images/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('build/images/favicons/manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('build/images/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ff0000">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('build/css/nav.css') }}" />
         {% endblock %}
    </head>
    <body>
        {% block nav %}
            {% include 'nav.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/jquery.min.js') }}"></script>
            <script src="{{ asset('build/js/jquery.scrolly.min.js') }}"></script>
            <script src="{{ asset('build/js/skel.min.js') }}"></script>
            <script src="{{ asset('build/js/util.js') }}"></script>
            <script src="{{ asset('build/js/nav.js') }}"></script>
            <script src="{{ asset('build/js/main.js') }}"></script>
        {% endblock %}

        {% block analytics %}

            <!-- Piwik -->
            <script type="text/javascript">
                var _paq = _paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                    var u="//analytics.treviz.xyz/";
                    _paq.push(['setTrackerUrl', u+'piwik.php']);
                    _paq.push(['setSiteId', '1']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                })();
            </script>
            <!-- End Piwik Code -->

        {% endblock %}
    </body>
</html>
