<nav id="navbar">
        <span class="nav_link"><a href="/">Home</a></span>

        <span id="spacer"></span>

        <span class="nav_link"><a href="/#one">Features</a></span>
        <span class="nav_link"><a href="https://doc.treviz.xyz">Documentation</a></span>
        <span class="nav_link"><a href="https://gitlab.com/treviz">Gitlab</a></span>
        <span class="nav_link"><a href="https://blog.treviz.xyz">Blog</a></span>
        <span class="nav_link"><a href="/contact">Contact</a></span>
</nav>
<span><a class="icon fa-bars"  id="menu_trigger"></a></span>
